<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main>
    <form action="/index" method="post" enctype="multipart/form-data">
        아이디 : <input type="text" name="id">
        비밀번호 : <input type="password" name="password">
        <button type="submit">로그인 버튼</button>
    </form>
</main>
</body>
</html>